
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>Add New User</h1>
<p1>Enter values for username, password, and full name to create a new user in the table.
<br /> <br />
<form action="/admin/addUser/added" method="POST">
username: <input name=username value=" " /><br />
password: <input name=password value=" " /><br />
full name: <input name=full_name value="" /><br />
<input type="submit" value="Modify">
</form>
</body>
</html>
